/* Allgemein */

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.6rem;
}

.limegreen {
  color: limegreen;
}

/* Navigation */

.navbar,
.slider-image {
  border-bottom: 2px solid #727272;
}
.nav-link {
  cursor: pointer;
}

.nav-link:active,
.nav-link:hover {
  color: limegreen !important;
}

.icon-link:active,
.icon-link:hover {
  color: limegreen !important;
}

.slider-image {
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-size: cover;
}
